############################################
# Angular Build Files
############################################
dist/
build/
.tmp/
out-tsc/

############################################
# Node Modules
############################################
node_modules/

############################################
# Logs
############################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Environment Files
############################################
.env
.env.*
!.env.example

############################################
# Angular Environment Files
############################################
src/environments/environment.ts
src/environments/environment.prod.ts

############################################
# IDEs
############################################
.idea/
.vscode/
*.iml

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Cache
############################################
.angular/
.cache/

############################################
# Testing
############################################
coverage/
karma.conf.js

############################################
# Misc
############################################
*.tmp
*.swp